@media (min-width: 400px) {
  body {
    font-size: 1em; }

  .thumb-container {
    width: 400px; }

  .gallery {
    width: 400px; } }
@media (min-width: 640px) {
  strong {
    font-weight: bold; }

  em {
    font-style: italic; }

  /*--------------SECTION NAV BAR-----------*/
  .costumesnav li {
    display: inline-block;
    padding: 1vw 0.3em; }
    .costumesnav li a {
      font-size: 0.9em; }

  .costumenavhere {
    font-size: 0.9em; }

  /*--------------COSTUME HEADER-----------*/
  figure figcaption li {
    font-size: 0.9em;
    padding: 0 0.5em; }

  /*--------------COSTUME BODY-----------*/
  .dream-d {
    left: -0.38em; }

  .intro {
    padding-left: 2em;
    padding-right: 2em; }

  .costume-description h4 {
    font-size: 1.3em; }
  .costume-description p {
    font-size: 0.9em; }

  /*--------------CAROUSEL-----------*/
  .thumb-container {
    width: 550px; }

  .gallery {
    width: 550px; }

  .thumb {
    width: 24%; } }
@media (min-width: 768px) {
  /*--------------TOP BAR-----------*/
  .bar-top .nav {
    height: 3.8em; }

  .logo {
    float: left;
    margin: 0;
    padding-left: 0.5em; }

  .menu-right {
    float: right;
    position: relative;
    bottom: 0.54em;
    padding-bottom: 0;
    background-color: #707684; }

  .bar-top .menu-right .menu .navhere {
    font-size: 1.2em;
    border-bottom: 0.4em solid #ed1c24;
    padding-top: 2em;
    background-color: #707684; }

  .bar-top .menu-right .menu li a {
    font-size: 1.2em; }

  /*--------------SECTION NAV BAR-----------*/
  .costumesnav {
    text-align: center; }

  /*--------------CONTACT BAR-----------*/
  .footer {
    position: fixed;
    float: right;
    top: 3.8em;
    right: -1.5px;
    width: 2.1em;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 102; }
    .footer h3 {
      display: none; }
    .footer .contactlink {
      text-align: center;
      margin: 0; }
      .footer .contactlink a {
        color: black; }
      .footer .contactlink li {
        display: block;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000; }
      .footer .contactlink .icon {
        width: 2em;
        line-height: 1em; }
      .footer .contactlink .em {
        height: 2em;
        width: 2em;
        border-right: none;
        padding: 0;
        position: static;
        top: 0;
        background-image: url("../img/email.png");
        background-size: 2em;
        background-repeat: no-repeat;
        background-position: 50%; }
      .footer .contactlink .em:hover {
        background-image: url("../img/email-hover.png"); }
      .footer .contactlink .tw {
        background-image: url("../img/twitter.png");
        background-size: 2em;
        background-repeat: no-repeat; }
      .footer .contactlink .tw:hover {
        background-image: url("../img/twitter-hover.png"); }
      .footer .contactlink .fb {
        background-image: url("../img/facebook.png");
        background-size: 2em;
        background-repeat: no-repeat; }
      .footer .contactlink .fb:hover {
        background-image: url("../img/facebook-hover.png"); }
      .footer .contactlink .ig {
        background-image: url("../img/instagram.png");
        background-size: 2em;
        background-repeat: no-repeat; }
      .footer .contactlink .ig:hover {
        background-image: url("../img/instagram-hover.png"); }
      .footer .contactlink .phone {
        background-image: url("../img/phone.png");
        background-size: 2em;
        border-top: 1px solid #000000;
        background-repeat: no-repeat;
        display: block; }
      .footer .contactlink .phone:hover {
        background-image: url("../img/phone-hover.png"); }
      .footer .contactlink #phonenumber {
        display: none; }

  /*--------------COSTUME BODY-----------*/
  .dream-d {
    top: -1.2em;
    left: -0.33em; }

  .intro {
    font-size: 1.2em;
    margin-bottom: 6em; }

  .costume-description .costume-explination h4 {
    font-size: 1.5em;
    border-top: 1.2em solid blue;
    border-color: rgba(6, 96, 130, 0.9);
    padding-top: 0.4em; }
  .costume-description .costume-explination p {
    font-size: 1.1em;
    line-height: 1.3em;
    padding: 0.8em 1em 5.5em 1em;
    margin: 0; }

  .bar-bottom #footcontact {
    display: block; }
  .bar-bottom .socialize {
    display: block; } }
@media (min-width: 1024px) {
  .bar-top {
    position: fixed;
    z-index: 11;
    width: 100%;
    max-width: 1400px;
    opacity: 0.9;
    box-shadow: 0 1px 20px black;
    z-index: 992; }
    .bar-top .menu-right {
      bottom: 1em; }
      .bar-top .menu-right .menu .navhere {
        background-color: #707684;
        border-bottom: 0.5em solid #ed1c24;
        border-top: none;
        padding-top: 2.4em; }

  .main {
    overflow: hidden;
    position: relative;
    top: 3.8em;
    margin-bottom: 5em; }

  .footer {
    top: 5em; }

  .opener {
    left: 2em; }

  .bar-bottom #footcontact a {
    font-size: 1em; }
  .bar-bottom .socialize ul li {
    margin: 0 3em; } }
@media (min-width: 1400px) {
  .main {
    max-width: 1464px; }

  .article .relativeheader .costumes {
    font-size: 8.3em; }

  .footer {
    float: left;
    left: 0;
    top: 10em; }
    .footer .contactlink .em {
      border-right: 1px solid #000000; }
    .footer li {
      border-left: 0;
      border-right: 1px solid #000000; }

  .costumesnav {
    display: block;
    box-shadow: none;
    float: right;
    top: 4.8em;
    border-bottom: none;
    position: fixed;
    right: calc(50% - 850px + 160px);
    width: auto; }
    .costumesnav h2 {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
      text-align: center;
      color: black;
      text-transform: uppercase;
      font-size: 100 1.5em 'Open Sans', Helvetica, sans-serif; }
    .costumesnav li {
      display: block;
      text-align: left;
      margin-left: 1em;
      margin-right: 1em;
      padding: 0.4em 0.2em; } }

/*# sourceMappingURL=responsive.css.map */
