body {
	font-family: Georgia, serif;
	color: #222222;
	font-size: 0.8em; 	
	line-height: 1.3;
	max-width: 1400px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

h1, h2 {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1;
	margin: 0.33333333333333 em 0;
}

h1 {
	font-size: 3em; 
	text-transform: uppercase;
	margin: 0.5em 0;
}
h2 {
	font-size: 1.5em; 
	color: #D5664D;
}

h4 {
	padding: 0 0.5em;
}

p {
	margin: 1em 0; 
	padding: 0 0.5em;
}

a {
	text-decoration: none;
	color: #D5664D;
}

a:hover {
	text-decoration: underline;
}

em {
	font-style: italic;
}

.container {
	width: 100%;
	margin: 0 auto;
}

/*--------------TOP BAR-----------*/
	.bar-top {
		background-color: #707684;
		z-index: 100;
		position: relative;
	}

		.nav {
			overflow: hidden;
			height: 6.2em;
			width: 100%;
		}

		.logo {
			width: 17em;
			margin: 0 auto;
			padding: 0.5em 0 1em 0;
			img {
				vertical-align: middle;
			}
		}

		.menu-right {
			padding: 0 0 0.5em 0;
			text-align: center;
			background-color: #8a91a0;
			.menu {
				.navhere {
					color: black;
					background-color: #8a91a0;
					font: 100 1.1em 'Open Sans', Helvetica, sans-serif; 
					text-transform: uppercase;
					padding: 0 0.2em;
					border-bottom: 0.2em solid #ed1c24;
				}
				li {
					display: inline-block;
					padding: 0 0.2em;
					a {
						color: white;
						font: 100 1.1em 'Open Sans', Helvetica, sans-serif; 
						line-height: 2em;
						padding: 0 0.2em;
					}	
				}	
			}
		}	

.menu-right a:hover {
	text-decoration: none;
	text-transform: uppercase;
}

/*--------------SECTION NAV BAR-----------*/

.costumesnav {
	text-align: center;
	background-color: white;
	display: none;
	z-index: 99;
	h2 {
		display: none;
	}
	li {
		display: inline-block;
		padding: 1vw 0.2em;
		border-right: 0.01em solid black;
		a {
			color: black;
			font: 400 2.3vw Helvetica, sans-serif; 
			letter-spacing: -0.02em;
			line-height: 1em;
		}	
	}	

}

.costumenavhere {
	color: #00aeef;
	font: 400 2.3vw Helvetica, sans-serif; 
	letter-spacing: -0.02em;
	line-height: 1em;
}

/*--------------CONTACT BAR-----------*/

.footer {
	h3 {
		font: 500 1.7em Helvetica, sans-serif;
		text-align: center;
		margin-top: 3em;
	}
	.contactlink {
		text-align: center;
		margin: 1.5em 0.2em;
		a {
			color: black;
		}
		li {
			display: inline-block;
		}
		.icon {

			width: 3em;
			line-height: 1em;
		}

		.em {
			height: 4em;
			width: 6em;
			border-right: 0.1em solid black;
			border-left: 0.1em solid black;
			padding: 0 1em 0 1em;
			position: relative;
			top: 0.5em;
			background-image: url('../img/email.png');
			background-size: 3.2em;
			background-repeat: no-repeat;
			background-position: 50%;
		}

		.em:hover {
			background-image: url('../img/email-hover.png');
		}
		.tw {
			background-image: url('../img/twitter.png');
			background-size: 3.2em;

		}

		.tw:hover {
			background-image: url('../img/twitter-hover.png');

		}

		.fb {
			background-image: url('../img/facebook.png');
			background-size: 3.2em;
		}

		.fb:hover {
			background-image: url('../img/facebook-hover.png');
		}

		.ig {
			background-image: url('../img/instagram.png');
			background-size: 3.2em;
		}

		.ig:hover {
			background-image: url('../img/instagram-hover.png');
		}

		.phone {
			background-image: url('../img/phone.png');
			background-size: 3.2em;
			display: none;
		}
		.phone:hover {
			background-image: url('../img/phone-hover.png');
		}

		#phonenumber {
			font: 300 1em Helvetica, sans-serif;
			padding-right: 1em;
			position: relative;
			top: -1.0em;
		}
	}

}



/*--------------FOOTER-----------*/
.bar-bottom {
	background-color: #707684;
	overflow: hidden;
	.sitenav {
		width: 50%;
		float: left;
		line-height: 0.01em;
		padding-left: 0.5em;
		li {
			a {
				color: white;
				font: 100 0.8em 'Open Sans', Helvetica, sans-serif;
			}
		}
	}
	.socialize {
		width: 50%;
		float: right;
		text-align: right;
		padding-right: 0.5em;
		h3 {
			color: white;
			font: 100 1em Georgia, serif; 
		}
		ul {
			color: white;
			font-size: 0.8em;
			line-height: 1.5em;
		}
		a {
			color: white;
			font: 100 0.8em Georgia, serif;
			padding: 0 0.2em;
		}
	}	
}


/*--------------COSTUME HEADER-----------*/
.relativeheader {
	position: relative;
	margin-bottom: 0;
}
.relativeheader img {
	width: 100%;
	max-width: 1400px;
}
.costumes {
	position: absolute;
  	top: 50%;
  	left: -0.6%;
  	width: 75%;
  	height: 35%;
	font-weight: 600;
	font-size: 9.5vw;
	color: #035a11;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; 
	line-height: 76%;
	letter-spacing: -0.1em;
	padding-top: 0.1em;
	padding-right: 0;
	padding-left: 3px;
	background-color: rgba(200, 200, 200, .6);
	margin-bottom: 0;
		

}

figure {
	figcaption {
		margin: 0;
		position: relative;
		top: -0.5em;
		text-align: right;
		li {
		font: 500 0.65em Helvetica, sans-serif;
		display: inline-block;
		padding: 0 0.3em;
		border-right: 0.1em solid black;
		}
		#photocredit {
			border: none;
		}
	}
}

/*--------------COSTUME BODY-----------*/
article {
	position: relative;
	/*top: -2em;*/
	z-index: 98;
}

.intro {
	padding: 1em 1.3em;
}

.costume-description {
		
		h4 {
			font: 600 1em Georgia, serif;
			text-transform: uppercase;
			background-color: rgba(30, 150, 195, .8);
			border-top: 0.6em solid blue;
			border-color: rgba(6, 96, 130, .9);
			padding-top: 0.4em;
		}
		p {
			font: 300 0.7em HelveticaNueue, Helvetica, sans-serif;
			color: white;
			background-color: rgba(30, 150, 195, .8);
			padding: 0.8em 1em 1.5em 1em;
			margin: 0 0 1em 0;
		}
	
}

	.costume-explination {
		position: relative;
		top: -0.31em;
		z-index: 991;
	}

.costume-thumb img {
	max-width: 5em;
}

.costume-thumb {
	margin: 0 0.5em 2em 0.5em;
	text-align: center;
	li {
		display: none;
		margin: 0 0.5em;
	}
}	

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
    border-right: 20px solid gray;
    position: relative;
    bottom: 20px;
	cursor: pointer; cursor: hand;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
    border-left: 20px solid gray;
    position: relative;
    bottom: 20px;
    cursor: pointer; cursor: hand;
}


.costume-thumb li:nth-child(-n+4){
	display: inline-block;
}

.costume-thumb li:nth-last-child(1){
	display: inline-block;
}