.costume-description {
	#oberon-back {
		width: 85%;
		max-width: 40em;
		margin: 0 auto;
		img {
			padding: 0 1em 0 1em;	
		}
	}
}	


///////////// CAROUSEL ///////////////

.arrow {
	position: absolute; 
	top: 0;            
	bottom: 0;         
	margin: auto;        
	width: 40px;
	height: auto; 
}

.arrow-next {
 	right: 5px;                  
 	transform: rotate(90deg); 
}

.arrow-back{
	left: 5px;                  
	transform: rotate(-90deg); 	
}

///////////// FAIRY CAROUSEL ///////////////

.fairy-shown {       
  display: inline-block;  
} 

.fairy-next,
.fairy-back {
  @extend .arrow;     
}

.fairy-next:hover,
.fairy-back:hover {
  cursor: pointer;
}

.fairy-next {
	@extend .arrow-next;
}

.fairy-back {
   @extend .arrow-back;
}

///////////// MECHANICALS CAROUSEL ///////////////

.mechanicals-shown {       
  display: inline-block;  
}                   

.mechanicals-next,
.mechanicals-back {
	@extend .arrow;
}

.mechancials-next:hover,
.mechanicals-back:hover {
  cursor: pointer;
}

.mechanicals-next {
	@extend .arrow-next;   
}

.mechanicals-back {
	@extend .arrow-back;  
}

///////////// COURT CAROUSEL ///////////////

.court-shown {       
  display: inline-block;  
}                   

.court-next,
.court-back {
	@extend .arrow;
}

.court-next:hover,
.court-back:hover {
  cursor: pointer;
}

.court-next {
	@extend .arrow-next;  
}

.court-back {
	@extend .arrow-back; 
}





@media (min-width: 768px) {

	.costume-format {
		width: 100%;
		position: relative;
		text-align: center;
		margin-bottom: 8em;
	}

/*--------------OBERON COSTUME BODY-----------*/

	.the-fairies-costumes {
		@extend .costume-format;
		.costume-description {
			display: inline-block;
			text-align: left;
			#oberon-back {
				float: left;
				position: relative;
				left: 15em;
				width: 66%;
				img {
					max-width: 32em;
				}
			}	
			.oberon-description {
				float: left;
				position: relative;
				left: -30em;
				top: 3em;
				width: 16em;

			}	
		}
	}

/*--------------MECHANICAlS COSTUME BODY-----------*/

	.the-mechanicals-costumes {
		@extend .costume-format;
		.costume-description {
			width: 50em;
			display: inline-block;
			text-align: left;
			#mechanicals-line {
				float: left;
				position: relative;
				left: 2em;
				width: 66%;
				img {
					max-width: 45em;
				}
			}	
			.mechanicals-description {
				float: left;
				position: relative;
				left: 5em;
				top: -2.5em;
				width: 26em;

			}	
		}
	}

/*--------------COURT COSTUME BODY-----------*/

	.the-court-costumes {
		@extend .costume-format;
		.costume-description {
			width: 50em;
			display: inline-block;
			text-align: left;
			#theseus-court {
				float: left;
				position: relative;
				left: 2em;
				width: 66%;
				img {
					max-width: 45em;
				}
			}	
			.theseus-description {
				float: left;
				position: relative;
				left: 18em;
				top: -2.5em;
				width: 26em;

			}	
		}
	}

}


