.costume-description {
	#oberon-back {
		width: 85%;
		max-width: 40em;
		margin: 0 auto;
		img {
			padding: 0 1em 0 1em;	
		}
	}
}	

@media (width: 320px) {
	.costume-thumb {
		margin: 0 0 2em 0;
	}
}

@media (min-width: 580px) {
	.costume-thumb li:nth-child(-n+5){
		display: inline-block;
	}
}

@media (min-width: 768px) {

/*--------------OBERON COSTUME BODY-----------*/

	.the-fairies-costumes {
		width: 100%;
		position: relative;
		text-align: center;
		margin-bottom: 8em;
		.costume-description {
			display: inline-block;
			text-align: left;
			#oberon-back {
				float: left;
				position: relative;
				left: 15em;
				width: 66%;
				img {
					max-width: 32em;
				}
			}	
			.oberon-description {
				float: left;
				position: relative;
				left: -30em;
				top: 3em;
				width: 16em;

			}	
		}

		.costume-thumb img {
			max-width: 7em;
		}

		.costume-thumb {
			position: relative;
			top: 5em;
			margin-bottom: 13em;
		}
	}

/*--------------MECHANICAlS COSTUME BODY-----------*/

	.the-mechanicals-costumes {
		width: 100%;
		position: relative;
		text-align: center;
		margin-bottom: 8em;
		.costume-description {
			width: 50em;
			display: inline-block;
			text-align: left;
			#mechanicals-line {
				float: left;
				position: relative;
				left: 2em;
				width: 66%;
				img {
					max-width: 45em;
				}
			}	
			.mechanicals-description {
				float: left;
				position: relative;
				left: 5em;
				top: -2.5em;
				width: 26em;

			}	
		}
	}

/*--------------COURT COSTUME BODY-----------*/

	.the-court-costumes {
		width: 100%;
		position: relative;
		text-align: center;
		margin-bottom: 8em;
		.costume-description {
			width: 50em;
			display: inline-block;
			text-align: left;
			#theseus-court {
				float: left;
				position: relative;
				left: 2em;
				width: 66%;
				img {
					max-width: 45em;
				}
			}	
			.theseus-description {
				float: left;
				position: relative;
				left: 18em;
				top: -2.5em;
				width: 26em;

			}	
		}
	}

}

@media (min-width: 1400px) {
	.costume-thumb li:nth-child(-n+6){
		display: inline-block;
	}
}


