
@media (min-width: 400px) {
	body {
		font-size: 1em;
	}

}

@media (min-width: 640px) {
	
	strong {
	font-weight: bold;
	}

	em {
		font-style: italic;
	}
/*--------------SECTION NAV BAR-----------*/

	.costumesnav {
		li {
			display: inline-block;
			padding: 1vw 0.3em;	
			a {

			font-size: 0.9em;
		}
		}	
	}

	.costumenavhere {
	font-size: 0.9em;
	}

/*--------------COSTUME HEADER-----------*/
	figure figcaption li {
		font-size: 0.9em;
		padding: 0 0.5em;
	}

/*--------------COSTUME BODY-----------*/
	.costume-description {
		h4 {
			font-size: 1.3em;
		}
		p {
			font-size: 0.9em;
		}
	}
}	









@media (min-width: 768px) {

/*--------------TOP BAR-----------*/
	.bar-top {

		.nav {
			height: 3.8em;
		}
	}

	.logo {
		float: left;
		margin: 0;
		padding-left: 0.5em;
		}

	.menu-right {
		float: right;
		position: relative;
		bottom: 1em;
		padding-bottom: 0;
		background-color: #707684;
	}	

	.bar-top .menu-right .menu .navhere {
		font-size: 1.2em;
		border-bottom: 0.4em solid white;
		padding-top: 2em;

	}

	.bar-top .menu-right .menu li a {
		font-size: 1.2em;
	}

/*--------------SECTION NAV BAR-----------*/

	.costumesnav {
		text-align: right;
	}

/*--------------COSTUME BODY-----------*/

	.intro {
		font-size: 1.2em;
		margin-bottom: 6em;
	}

	.costume-description {
		.costume-explination {
			h4 {
				font-size: 1.5em;
				border-top: 1.2em solid blue;
				border-color: rgba(6, 96, 130, .9);
				padding-top: 0.4em;
			}
			p {
				font-size: 1.1em;
				line-height: 1.3em;
				padding: 0.8em 1em 5.5em 1em;
				margin: 0;
			}
		}
	}



}









@media (min-width: 1024px){

	.bar-top {
		position: fixed;
		z-index: 11;
		width: 100%;
		max-width: 1400px;
		opacity: 0.9;
		.menu-right {
			.menu {
				.navhere {
					background-color: #707684;
					border-bottom: 0.5em solid #ed1c24;
					border-top: none;
					padding-top: 2.4em;
				}
			}	
		}	
	}

	.main {
		overflow: hidden;
		position: relative;
		top: 3.8em;
		margin-bottom: 5em;
	}	

	.costumesnav {
		width: 15%;
		float: left;
		padding-bottom: 2em;
		border-bottom: 0.1em solid black;
		h2 {
			display: block;
			margin-top: 1em;
			margin-bottom: 1em;
			text-align: center;
			color: black;
			text-transform: uppercase;
			font-size: 100 1.5em 'Open Sans', Helvetica, sans-serif;
		}
		li {
			display: block;
			text-align: left;
			margin-left: 1em;
			margin-right: 1em;
			padding: 0.4em 0.2em;

		}
	}
		
	.article {
		width: 85%;
		float: right;
			.relativeheader {
				padding: 0;
				.costumes {
					left: 0;
					font-size: 7.6vw;
					height: 31%;
				}
			}	
	}	
		
	.footer {
		width: 15%;
		float: left;
		h3 {
			font-size: 2em;
			margin-top: 1em;
		}
		.contactlink {
			li {
				display: block;
				margin: 0.5em auto;
			}
			.icon {
				width: 5em;
			}
			.em {
				height: inherit;
				border-right: none;
				border-left: none;
				border-top: 0.1em solid black;
				border-bottom: 0.1em solid black;
				padding: 1em 0;
				position: static;
				top: 0;
			}
			.phone {
				display: block;
				margin-bottom: 1em;
			}

			#phonenumber {
				position: static;
				padding: 0 0 1em 0;
			}
		}

	}	
}







@media (min-width: 1400px){


	.article .relativeheader .costumes {
		font-size: 7em;
	}
}














